<form method="GET" id="nav"></form>
<label>Navigation</label>
<button type="submit" form="nav" formaction="/">Front page</button>
<button type="submit" form="nav" formaction="/behaviour/summary">Summary</button>
<button type="submit" form="nav" formaction="/behaviour/reporting">Reporting</button>