<h1>Messages</h1>
<form method="POST" action='/'>
    <input type="text" name="sender" />
    <input type="text" name="message" />
    <input type="submit" value="Send" />
</form>

<table>
    <% messages.forEach((obj) => { %>
        <p>
            <%= obj.sender %>: <%= obj.message %>
        </p>
    <% }); %>
</table>