<%- include('./partials/header.ejs') %>
<h1>Welcome to activity tracker</h1>
<p>
    After logging in you can report your daily activity and see reports 
    based on your data.
</p>
<%- include('./partials/footer.ejs') %>